@import url(//fonts.googleapis.com/css?family=Lato:700);

#advertising1 {
    position: absolute;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    top: 80px;
    left: 1010px;
    width: 200px;
    height: 120px;
    padding: 5px;
}


#comments {
    font-size: 8pt;
    line-height: 110%;
    font-weight: 400;
    font-family:arial, sans-serif;
    color: #000000;
    position: absolute;
    width: 850px;
    top: 400px;
    left: 100px;
    border: 2px solid black;
    background-color: #ffef80;
    padding: 25px;
    border: 2px solid;
    border-radius: 25px;
}

#comments_subsection {
    font-size: 8pt;
    line-height: 110%;
    font-weight: 400;
    font-family:arial, sans-serif;
    color: #000000;
    position: relative;
    width: 825px;

    border: 2px solid black;
    background-color: #c0c0c0;
    padding: 10px;
    border-radius: 5px;

}


#copy_write {
    position: absolute;
    top: 700px;
    left: 1010px;
    text-align: left;
}


#making_comments {
    font-size: 7pt;
    line-height: 100%;
    font-weight: 400;
    font-family:arial, sans-serif;
    color: #000000;
    position:absolute;
    width: 850px;

    top: 80px;
    left: 100px;
    border: 2px solid black;
    background-color: #ffef80;
    padding: 25px;
    border: 2px solid;
    border-radius: 25px;
}


#return {
    text-align: center;
    vertical-align: middle;
    font-size: 8pt;
    line-height: 110%;
    font-weight: 400;
    font-family:arial, sans-serif;
    position:absolute;
    color: #000000;
    width: 200px;
    height: 30px;
    top: 10px;
    left: 1010px;
    border: 2px solid black;
    background-color: #ffef80;
    padding: 5px;
    border: 2px solid;
    border-radius: 25px;
}

#title_space {
    font-size: 36pt;
    line-height: 110%;
    font-weight: 400;
    font-family:arial, sans-serif;
    position: absolute;
    top:10px;
    left:100px;
    width: 895px;
    text-align: center;
    
}

#title_space1 {
    font-size: 36pt;
    line-height: 110%;
    font-weight: 400;
    font-family:arial, sans-serif;
    position: absolute;
    top:10px;
    left:100px;
    width: 895px;
    text-align: center;
    
}
