@import url(//fonts.googleapis.com/css?family=Lato:700);

table
{
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
    font-size : 75%;
}

li {
    position: relative;
    left: -20px;
}

.table_color_green {
    border: 1px solid green;
    text-align:center;
}

.table_summary {
    text-align:left;
}

#image1 {
    width: 240px;
    height: 120px;
}

#image1:active {
    width: 600px;
    height: 400px;
}

#image2 {
    width: 240px;
    height: 120px;
}

#map_canvas {
    position:absolute;
    width: 508px;
    height: 363px;
    top: 100px;
    left: 270px;
    border: 2px solid black;
    /*margin-left:auto;
    margin-right:auto; */
}

#map_legend {
    position:absolute;
    top:100px;
    left:133px;
    width: 115px;
    height: 100px;
    background-color: #ffef80;
    text-align:left;
    border: 2px solid black;
    padding: 2px;
}

#average_stats {
    position:absolute;
    top:370px;
    left:980px;
    width: 280px;
    height: 215px;
    background-color: #ffef80;
    text-align:left;
    border: 2px solid black;
    padding: 5px;
}



#graph_group {
    position:absolute;
    top:250px;
    left: 10px;

}
#graph_div {
    width: 240px;
    height: 120px;
}

#station_info {
    position:absolute;
    top:100px;
    left:980px;
    width: 280px;
    text-align:left;
    background-color: #ffef80;
    border:1px solid black;
    padding: 5px;
}

#station_select {
    position: absolute;
    top:70px;
    left:300px;
    width: 769px;
}

#back_history {
    position:absolute;
    top:220px;
    left:10px;
    width: 280px;
    text-align:left;
}

#title_space {
    position: absolute;
    top:10px;
    left:170px;
    width: 769px;
    text-align: center;
}

#weather_forecast {
    position: absolute;
    top:690px;
    left:170px;
    width: 769px;
    text-align: left;
}

#forecast_box {
    position: absolute;
    top:480px;
    left:255px;
    width: 730px;
    text-align: left;

}
#forecast_title {
    font-size: 7pt;
    line-height: 40%;
    font-weight: 900;
    font-family:arial, sans-serif;
    width: 59px;
    height: 30px;
    text-align: center;
    float: left;
    padding-right: 5px;
}

#forecast_temperature {
    font-size: 8pt;
    font-family:arial, sans-serif;
    top: 30px;
    width: 59px;
    float: left;
    text-align: center;
    padding-right: 5px;
}

#forecast_error {
    font-size: 6pt;
    line-height: 20%;
    color: black;
    font-weight: 900;
    font-family:arial, sans-serif;
    top: 30px;
    width: 59px;
    float: left;
    text-align: center;
    padding-right: 5px;
}

#forecast_detail {
    font-size: 6pt;
    line-height: 95%;
    font-family:arial, sans-serif;
    top: 30px;
    width: 59px;

    float: left;
    text-align: center;
    padding-right: 5px;
}


#forecast_title_row {
    position: relative;
/*    top:0; */
    width: 720px;
    text-align: left;
}

#forecast_error_row {
    position: relative;
/*    top:20px; */
/*    left:15px; */
    width: 720px;
    text-align: left;
    color: #ffff00;
    font-size: 8pt;
    font-weight: 900;
}

#forecast_temperature_row {
    position: relative;
/*    top:58px; */
    width: 720px;
    text-align: left;
}

#forecast_detail_row {
    position: relative;
    /*top:110px;*/
    width: 730px;
    text-align: left;
}

#copy_write {
    position: absolute;
    top: 640px;
    left: 990px;
    text-align: left;
}

#advertising1 {
    position: absolute;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    top: 10px;
    left: 980px;
    width: 280px;
    height: 75px;
    padding: 5px;
    background-color: white;

}

#advertising2 {
    position: absolute;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    top: 278px;
    left: 980px;
    width: 280px;
    height: 75px;
    padding: 5px;
    background-color: white;

}

#advertising3 {
    position: absolute;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    top: 323px;
    left: 790px;
    width: 180px;
    height: 140px;

}







